*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* qui trovo l'intestazione */
.intestazione{
    height: 100px;
   
        /* regole debug */
    background-color: palevioletred;
}

.contenitore1{
    height: 500px;
    margin: 20px 0;
    
    /* regole debug */
    background-color: yellow;

}